@mixin containerSize() {
  width: 100vw;
  height: 100vh;
}

@mixin bannerSize {
  width: 380px;
  height: 720px;
}

@mixin rotation($degree) {
  transform: translateX(-50%) translateY(-50%) rotate($degree);
}
