@use "./variables" as v;
@use "./mixins" as m;

@mixin confirmedBtn {
  width: 284px;
  padding: 16px 19px;
  margin-top: 20px;
  text-transform: uppercase;
}

.banner {
  @include m.bannerSize();
  background-color: v.$main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;

  h1 {
    font-size: 26px;
    line-height: 30px;
    margin-top: 30px;
    font-weight: normal;
    text-align: center;
  }

  span {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin-top: 13px;
  }

  p {
    margin-top: 13px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

.keyboard {
  display: grid;
  grid-gap: 10px;
  width: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 30px;

  button {
    background-color: transparent;
    color: #000;
    border: 3px solid black;
    height: 52px;
    width: 88px;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }

    &:active {
      background-color: lighten(#000000, 30%);
      color: white;
    }

    &:nth-last-of-type(2) {
      width: 190px;
      grid-row: 4 / 5;
      grid-column: 1 / 3;
    }
  }
}

.agreement {
  margin-top: 30px;
  display: flex;
  align-items: center;

  button {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    background-color: transparent;
    cursor: pointer;

    img {
      &:first-of-type {
        margin-right: -4px;
      }
    }
  }

  p {
    width: 200px;
    margin-top: 0;
  }
}

.confirm {
  @include confirmedBtn();
  background-color: transparent;
  border: 1px solid black;
}

.confirmed {
  @include confirmedBtn();
  background-color: black;
  color: white;
  cursor: pointer;
}
